<div class="media comment" data-id=<%= comment.id %>>
	<div class="media-left">
		<%= link_to image_tag(comment.user.avatar.url(:thumb), class: 'img-circle') %>
	</div>
	<div class="media-body comment-body">
		<%= link_to comment.user.username, userpage_path(comment.user.username) %>  <%= comment.content %>  <span class="time-ago"><%= time_ago_in_words(comment.created_at) %> ago</span><span class="destroy"><%= link_to fa_icon("times 1x"), 	post_comment_path(post_id: comment.post.id, id: comment.id), method: :delete, remote: true %></span>
	</div>
</div>